$white: #fff;
$light_white: rgb(211, 211, 211);
$grey: rgb(78, 78, 78);
$main_background: #006064;


.margin-top50 {
  margin-top: 50px;
}
.credit {
  height: 190px;
  width: 300px;
  border: 0;
  margin: auto;
  border-radius: 10px;
  background: url(../resources/card.jpg) no-repeat center center; 
  background-size: cover;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  color: $white;
  &__bank {
    font-size: 1rem;
    font-weight: bold;
    float: left;
    margin: 10px 20px;
  }
  &__card-number {
    height: 100px;
    padding-top: 75px;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  &__ccv {
    height: 24px;
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    text-transform: uppercase;
  }
  &__name{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    height: 25px;
    margin-top: 50px;
    margin-left: -165px;
  }
  &__date{
    font-size: 0.9rem;
    margin-top: -40px;
    margin-left: 180px;
  }

&__card-inputs{
  margin-top: 10px;
  width: 300px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}
&__card-inputs input{
  border: none;
  outline: none;
  position: relative;
  width: 90%;
  outline: 1px solid $main_background;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;

}
&__card-inputs div:nth-child(1) label, &__card-inputs div:nth-child(2) label{
  color: white;
  position: relative;
  float: left;
  margin: 5px 0 0 20px;
  color: $grey
}
&__dates input{
    width: 70px;
    margin-top: 30px;
    margin-right: 5px;
}
&__dates label{
  position: absolute;
  margin-top: 10px;
}
}








.orders{
  padding-top: 100px;
  min-height: 350px;
  &__count{
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto;
      &__card{
        color: $white;
        width: 150px;
        height: 70px;
        text-align: center;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        position: relative;
        top: 5px;
        margin-bottom: 10px;
      }
      &__card:nth-child(1){
        background-color: $main_background;
      }
      &__card:nth-child(2){
        background-color: rgb(31, 161, 212);
      }
      &__card:nth-child(3){
        background-color: rgb(32, 207, 32);
      }
      &__card:nth-child(4){
        background-color: rgb(194, 29, 29);
      }
    }
    &__orders{
      display: flex;
      justify-content:space-around;
      flex-wrap: wrap;
      &__items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: 2px solid $main_background;
        margin-top: 20px;
        min-height: 300px;
        &__item{
        outline: none;
        border: none;
        border-radius: 0;
        width: 200px;
        margin: 0 5px;
        }
        &__item:nth-child(2) h3, &__item:nth-child(3) h3, &__item:nth-child(4) h3{
          text-align: center;
          font-size: 1.2rem;
          background-color: $light_white;
          font-weight: bold;
          color: $main_background;
          padding: 5px 0;
          margin: 15px 0;
        }
        &__item:nth-child(2) h4{
          text-align: center;
          font-size: 1.1rem;
          font-weight: bold;
          margin-bottom: 30px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          width: 90%;
          margin-left: 5%;
          padding: 5px 0;
          color: $grey;
        }
        &__item:nth-child(2) h5{
          font-size: 1rem;
          font-weight: bold;
          margin-left: 10px;
        }
        &__item:nth-child(2) h6{
          font-size: 1rem;
          font-weight: bold;
          width: 90%;
          margin-left: 5%;
          margin-top: 20px;
          text-align: center;
          color: $main_background;
          padding: 5px 0;
          position: relative;
          bottom: 0;
        }
        &__item:nth-child(3) span{
          text-transform: capitalize;
          font-size: 0.8rem;
        }
        &__item:nth-child(4) table{
          width: 100%;
        }
        &__item:nth-child(4) td:nth-child(2){
          width: 60px;
        }
        &__item:nth-child(4) table tr td{
          text-transform: capitalize;
          font-size: 0.8rem;
        }
      }
    }
}





#progressbar {
  overflow: hidden;
  color: red;
  padding-left: 0px;
  padding-top: 20px
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
  font-weight: bold;
  color: #455A64 !important
}

#progressbar #step1:before {
  content: "1";
  color: #fff;
  font-weight: bold;
  width: 29px;
  margin-left: 40px !important;
  padding-left: 11px !important;
  animation: animate-pulse 3s linear infinite;
}

#progressbar #step2:before {
  content: "2";
  color: #fff;
  font-weight: bold;
  width: 29px;
  animation: animate-pulse 3s linear infinite;
}

#progressbar #step3:before {
  content: "3";
  color: #fff;
  font-weight: bold;
  width: 29px;
  margin-right: 40px !important;
  padding-right: 11px !important;
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #c7c7c7;
  border-radius: 50%;
  margin: auto
}

#progressbar li:after {
  content: '';
  width: 121%;
  height: 2px;
  background: grey;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
}

#progressbar li:nth-child(2):after {
  left: 50%
}

#progressbar li:nth-child(1):after {
  left: 25%;
  width: 121%
}

#progressbar li:nth-child(3):after {
  left: 25% !important;
  width: 50% !important
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: green;
}












// .pulse{
//   animation: animate-pulse 3s linear infinite;
// }
@keyframes animate-pulse{
  0%{
      box-shadow: 0 0 0 0 rgba(74, 255, 83, 0.7),  0 0 0 0 rgba(104, 255, 74, 0.7);
  }
  40%{
      box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(74, 255, 83, 0.7);
  }
  80%{
      box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
  }
  100%{
      box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
  }
  
}
