$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #ffffff;
$nav-font-color: #006064;
$link-hover-color: #006064;
$main-heading-color: rgb(66, 82, 88);

// ffffff
// 006064

.dropbtn {
  display: block;
  outline: none;
  display: block;
  border: none;
  padding: 0 20px;
  line-height: 70px;
  color: $nav-font-color;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  background-color: $nav-background;
  text-align: center;
  transition: 0.5s;
  width: 155px;
}
.dropbtn:focus{
  outline: none;
}
.dropbtn:hover{
  background-color: $link-hover-color;
  color: white;
}
.dropdown a{
  padding: 10px;
  border: 1px solid $nav-font-color;
  border-top: none;
  text-align: left;
  font-weight: normal;
  text-transform: normal;
}
.navigation {
  height: $nav-height;
  background: $nav-background;
  position: fixed;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 0 10px black;
}
#logout-button{
  background-color: rgba(255, 0, 0, 0.7);
  width: 160px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 15px;
}
#logout-button:hover{
  background-color: red;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a, a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}


.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}
nav {
  float: right;
  .dropdown-content {
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      button{
        outline: none;
        border:none
      }
      button:focus{
        outline: none;
      }
      a, button,
      a:visited{
        display: block;
        color: $nav-font-color;
        text-decoration: none;
        background-color: $nav-background;
        min-width: 130px;
        position: relative;
        padding: 24.5px;
        text-align: center;
        transition: 0.5s;
        font-size: 0.9rem;
        font-weight: bold;
        width: 100%;
        &:hover {
          background: $link-hover-color;
          color: white;
          text-decoration: none;
        }
        &:not(:only-child):after {
          padding-left: 4px;
        }
      } 
      ul li {
        min-width: 100px;
      }
    }
  }
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  .dropbtn {
    width: 100%;
    text-align: left;
  }
  #logout-button{
    width: 100%;
  }
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a,  a:visited {
          padding: 15px;
          line-height: 20px;
          text-align: left;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}
#count{
  position: absolute;
  background-color: red;
  padding: 0px 5px;
  border-radius: 50%;
  color: white;
  font-weight: normal;
  font-size: 0.8rem;
}

.modal-content{
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px 0px white;
  border-radius: 0px;
  color: white;
}
.modal-header .close {
  color: white;
  opacity: 1;
}
.login-form{
  margin-top: 100px;
  &__input{
    outline: none;
    border: 1px solid $nav-font-color;
    background-color: transparent;
    color: rgb(219, 219, 219);
    font-weight: bold;
    border-radius: 0;
    margin-top: 10px;
  }
  &__label{
    position: relative;
    top: 15px;
    left: 5px;
    color: rgb(219, 219, 219);
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  &__input:focus{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: rgb(219, 219, 219);
    font-weight: bold;
  }
  &__button{
    background-color: $nav-font-color;
    outline: none;
    color: $nav-background;
    border: 1px solid $nav-font-color;
  }
    &__button:hover{
      background-color: $link-hover-color;
      color: $nav-background;
  }
}
.message{
  display: none;
}
.formError{
  border: 2px solid red;
}
#logo{
  width: 150px;
  position: relative;
  bottom: 40px;
}

$small: 400px;
$medium: 500px;


  @media screen and (max-width: $small) {
      #contact{
          display: none;
      }
  }
  @media screen and (max-width: $medium) {
    #contact{
          display: none;
    }
  }

$background: #006064;
$white: #fff;

#contact {
  background-color: #EAEAEA;
  padding: 30px 0;
  min-height: 100vh;
  height: auto;
  padding-top: 100px;
}
#contact #title, #brand-slide #title{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    color: $main-heading-color;
    text-transform: uppercase;
}
#brand-slide #title{
  margin-top: 50px;
}
@mixin perspective($pixels) {
	-webkit-perspective: $pixels;
	-moz-perspective: $pixels;
	-o-perspective: $pixels;
	perspective: $pixels;
}

@mixin transition($speed) {
	-webkit-transition: -webkit-transform $speed;
	-moz-transition: -moz-transform $speed;
	-o-transition: -o-transform $speed;
	transition: transform $speed;
}

@mixin transform-style() {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@mixin transform($degrees) {
	-webkit-transform: rotateX( $degrees + deg);
	-moz-transform: rotateX( $degrees + deg);
	-o-transform: rotateX( $degrees + deg);
	transform: rotateX( $degrees + deg);
}

@mixin backface-visibility() {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#brand-slide .cont-contactInfo {
	float: left;
	padding-right: 5%;
	width: 45%;

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 22px;
		font-weight: normal;
		text-transform: uppercase;
	}

	h4.section {
		margin: 30px 0 0;
	}

	p {
		margin: 0;
	}

	p > a {
		text-transform: uppercase;
		font-weight: bold;
	}

	.social-icons {
		list-style: none;
		margin: 5px 0 0;
		padding: 0;

		li {
			float: left;
			margin-right: 3px;

			a {
				background-repeat: no-repeat;
				display: block;
				height: 28px;
				width: 29px;
			}
		}
	}
}

.cont-contactBtn {
	height: 359px;
  margin: 0 auto;
	width: 574px;
	position: relative;

	@include perspective(800px);

	.cont-flip {
		position: absolute;
		@include transition(.5s);
		@include transform-style();
		height: 100%;
		width: 100%;

		.front, .back {
			display: block;
			margin: 0;
			height: 100%;
			width: 100%;
			position: absolute;
			box-shadow: 0 0 10px 0px black;

			@include backface-visibility;
		}

		.front {
			background-color: $background;

		}

		.back {
			background-color: $background;
			@include transform(180);
		}
	}

	#btn {
		margin-top: 155px;
    }


.cont-flip.flipped {
		@include transform(180);
	}

 .contact-form {
		padding: 0 10%;
		margin-top: 50px;
		width: 100%;

		input, textarea {
			font-size: 12px;
			padding: 10px 0;
			text-transform: uppercase;
			background-color: white;
		}
		input:focus, textarea:focus{
			outline: none;
		}
		input[type="text"], input[type="email"], input[type="number"] {
			float: left;
			margin-bottom: 8px;
			padding-left: 3%;
      width: 46.60%;
      text-transform: none;
		}
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
		.gutter {
			margin-right: 2.8%;
		}

		textarea {
			height: 106px;
			padding-left: 3%;
			margin-bottom: 22px;
			width: 96.2%;
		}

		input[type="submit"] {
			background-color: $white;
			border: none;
			color: $background;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
			height: 45px;
			width: 100%;
			max-width:93px;
			text-align: center;
		}

	}

 .close {
		display: block;
		height: 19px;
		width: 19px;
		background-image: url('https://i.imgur.com/WoKg12q.png');
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 15px;
		right: 3%;
	}
}

#btn {
    border: 3px $white solid;
  color: $white;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 280px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
  text-decoration: none;
	width: 100%;
	transition: .5s;
}
#btn:hover{
	color: $background;
	background-color: white;
	font-weight: bold;
}
#vfc{
  width: 125px;
  position: absolute;
  right: 60px;
}



@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
#brand-slide .slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}
	&::before {
		left: 0;
		top: 0;
	}
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	.slide {
		height: 100px;
		width: 250px;
	}
}